map {
  .map-search {
    padding: 8px;
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.8;
    ion-searchbar {
      background-color: transparent;
      padding: 0;
    }
  }
  .map-locate {
    position: absolute;
    z-index: 1;
    bottom: 9%;
    right: 1.5%;
    opacity: 0.8;
  }
}
